<!DOCTYPE html>
<html lang="en">
{{ header }}

<body class="bg-gray-900 text-gray-300">
{{ navbar }}

<!-- Posts -->
<div class="container mx-auto px-4 md:px-0 md:max-w-3xl lg:max-w-4xl xl:max-w-5xl"
     style="padding-top: 6rem; padding-bottom: 2rem;">
    {% if post.metadata.draft %}
        <div class="bg-yellow-500 text-white text-center p-2 mb-2">
            <h1 class="text-4xl text-center">This post is a draft and is not yet published. You can read it but there
                may still be some major errors</h1>
        </div>
    {% endif %}
    <h1 class="text-5xl text-center text-green-500">{{ post.metadata.title }}</h1>
    <p class="text-center text-white">{{ post.metadata.description }}</p>
    <!-- Time to read, date and tags -->
    <div class="flex flex-col justify-center items-center md:flex-row md:justify-between md:items-center mt-4">
        <div class="flex flex-row items-center mb-2 md:mb-0">
            <p class="text-sm text-gray-500 ml-1">{{ post.metadata.date }}</p>
            <p class="text-sm text-gray-500 ml-1">{{ post.metadata.time_to_read }} minute read</p>
        </div>
        <div class="flex flex-wrap">
            {% for tag in post.metadata.tags %}
                <a href="/tags/{{ tag }}">
                    <p class="underline text-sm text-green-500 mr-2">{{ tag }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
    {{ post.content }}

    <div class="flex items-center justify-start mt-4">
        <a href="/" class="text-green-500 hover:text-green-600 flex items-center">
            <img src="/static/home.svg" alt="<" class="w-8 h-8 inline">
            <span class="ml-2">Home</span>
        </a>
    </div>
</div>
{{ footer }}
</body>
</html>
