<!DOCTYPE html>
<html lang="en">
{{ header }}

<body class="bg-gray-900 text-gray-300">
{{ navbar }}

<!-- Posts -->
<div class="container mx-auto" style="padding-top: 100px">
    <h1 class="text-5xl text-center text-green-200"> {{ title }}</h1>
    <p class="text-center text-white"> {{ description }}</p>
    {{ content }}
</div>
{{ footer }}
<script data-goatcounter="https://nereux.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>