<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@1.x.x/dist/tailwind.min.css">
    <title>{{ title }} - Nereuxofficial's Blog</title>
    <style>
        code {
            background-color: #1a202c;
            color: #f56565;
            padding: 0 5px;
            border-radius: 5px;
        }
        h2 {
            font-size: 2rem;
        }
        p {
            margin-bottom: 25px; /* between paragraphs */
        }
    </style>
</head>

<body class="bg-gray-900 text-gray-300">
{{ navbar }}

<!-- Posts -->
<div class="container mx-auto" style="padding-top: 100px">
    <h1 class="text-5xl text-center text-green-200"> {{ title }}</h1>
    <p class="text-center text-white"> {{ description }}</p>
    {{ content }}
</div>
{{ footer }}

</body>
</html>